.sprite{ background:url("sprite.png") top left no-repeat; }
.dialog_alert{ width:85px; height:67px; background-position:-10px -10px; }
.mejs-overlay-button_hover{ width:60px; height:60px; background-position:-10px -87px; }
.mejs-overlay-button{ width:60px; height:60px; background-position:-10px -157px; }
.dialog_ok{ width:81px; height:54px; background-position:-10px -227px; }
.icon_pdf{ width:35px; height:40px; background-position:-10px -291px; }
.actions_settings{ width:40px; height:40px; background-position:-55px -291px; }
.mejs-play_hover{ width:30px; height:30px; background-position:-10px -341px; }
.mejs-fullscreen-button_hover{ width:30px; height:30px; background-position:-50px -341px; }
.mejs-fullscreen-button{ width:30px; height:30px; background-position:-10px -381px; }
.mejs-pause_hover{ width:30px; height:30px; background-position:-50px -381px; }
.mejs-pause{ width:30px; height:30px; background-position:-10px -421px; }
.item_list{ width:20px; height:30px; background-position:-50px -421px; }
.mejs-play{ width:30px; height:30px; background-position:-10px -461px; }
.actions_clear{ width:15px; height:30px; background-position:-80px -87px; }
.actions_arrow_left{ width:18px; height:30px; background-position:-50px -461px; }
.item_images{ width:20px; height:30px; background-position:-10px -501px; }
.detail_colors_disabled{ width:20px; height:22px; background-position:-40px -501px; }
.detail_colors{ width:20px; height:22px; background-position:-70px -501px; }
.detail_rapport_disabled{ width:20px; height:20px; background-position:-10px -541px; }
.detail_lavagem_disabled{ width:20px; height:20px; background-position:-40px -541px; }
.detail_ficha_disabled{ width:20px; height:20px; background-position:-70px -541px; }
.detail_trainning_disabled{ width:20px; height:20px; background-position:-10px -571px; }
.icon_facebook{ width:11px; height:20px; background-position:-80px -157px; }
.icon_pinterest{ width:17px; height:20px; background-position:-78px -461px; }
.detail_trainning{ width:20px; height:20px; background-position:-40px -571px; }
.menu_logout{ width:20px; height:20px; background-position:-70px -571px; }
.detail_rapport{ width:20px; height:20px; background-position:-10px -601px; }
.detail_lavagem{ width:20px; height:20px; background-position:-40px -601px; }
.item_filter_combo{ width:20px; height:20px; background-position:-70px -601px; }
.actions_close{ width:20px; height:20px; background-position:-10px -631px; }
.menu_help{ width:20px; height:20px; background-position:-40px -631px; }
.icon_instagram{ width:20px; height:20px; background-position:-70px -631px; }
.item_reserv_white{ width:20px; height:20px; background-position:-10px -661px; }
.detail_ficha{ width:20px; height:20px; background-position:-40px -661px; }
.item_reserv_blue{ width:20px; height:20px; background-position:-70px -661px; }
.actions_backtotop{ width:17px; height:18px; background-position:-10px -691px; }
.actions_search{ width:18px; height:18px; background-position:-37px -691px; }
.icon_user{ width:13px; height:16px; background-position:-80px -421px; }
.vclosebt{ width:15px; height:15px; background-position:-65px -691px; }
.actions_filter{ width:20px; height:15px; background-position:-10px -719px; }
.icon_youtube{ width:20px; height:15px; background-position:-40px -719px; }
.actions_check{ width:18px; height:12px; background-position:-70px -719px; }
.actions_arrow_down{ width:17px; height:9px; background-position:-10px -744px; }

