<!DOCTYPE html>
<html lang="pt-br" ng-app="app">
  <head>
    <title>Ebook- Resultados</title>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
      <meta name="description" content="">
      <meta name="author" content="Focus">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300" rel="stylesheet" type="text/css">
      <!-- build:css css/styles.min.css-->
      <link href="css/reset.css" rel="stylesheet">
      <link href="css/styles.css" rel="stylesheet">
      <!-- endbuild-->
      <link rel="stylesheet" href="../../../library/video/mediaelementplayer.min.css">
      <link rel="shortcut icon" href="favicon.ico">
      <link rel="icon" type="image/icon" href="favicon.ico">
      <link rel="apple-touch-icon" href="/apple-touch-icon.png">
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-22152133-24', 'auto');
        ga('send', 'pageview');
      </script>
      <!--[if gte IE 9]>
        <html class="ie9">
      <![endif]-->
      <!--[if lt IE 9]>
        <html class="ie8">
        <script src="js/lib/html5.js"></script>
        <script src="js/lib/respond.min.js"></script>
      <![endif]-->
      <!--[if lt IE 9]><html class="ie8"><![endif]-->
  </head>
  <body class="images">
    <div id="wrap" class="hide">
      <div class="filter-container small-filter">
        <div class="filter-content">
          <div class="filter-buttons-area">
            <button type="button" class="buttons s-third bfilter" title="Filtrar"></button>
            <button type="button" class="buttons s-third bclear"  title="Limpar"></button>
          </div>
          <!--<div class="filter-buttons-area">
            <button type="button" class="buttons s-third bclose"></button>
          </div>-->
          <div class="filter-area-collum filter-area-top">
            <ul class="filter_list">
              <li></li>
              <li><a href="#TECIMENTO" role="1" class="first unsel" title="Tecimento">Tecimento</a></li>
              <li><a href="#BASE" role="2" class="unsel" title="Base">Base</a><span class="topcount hide">0</span></li>
              <li class="f_grupo"><a href="#GRUPO" role="3" class="unsel" title="Grupo">Grupo</a><span class="topcount hide">0</span></li>
              <li><a href="#SGRUPO" role="4" class="unsel" title="Aspecto">Aspecto</a><span class="topcount hide">0</span>
              </li>
              <li><a href="#GRUPO_CORES" role="5" class="unsel" title="Grupo de Cores">Grupo de Cores</a><span class="topcount hide">0</span></li>
              <li><a href="#CMP" role="6" class="unsel" title="Composição">Composição</a><span class="topcount hide">0</span></li>
              <li><a href="#MOTIVO_PADRAO" role="7" class="unsel" title="Motivos">Motivos</a><span class="topcount hide">0</span></li>
              <li><a href="#MOTIVO_DETALHE" role="8" class="unsel last" title="Detalhes">Detalhes</a><span class="topcount hide">0</span></li>
            </ul>
          </div>
          <div class="filter-area-collum filter-area-down">
            <ul id="filter-sublist" ng-show="filter_sub_show" class="">
              <li ng-repeat="flist in flists" class="ng-scope">
                <button type="button" class="buttons s-third bclose" title="Fechar Filtro"></button>
              </li>
              <div class="allowitens">
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="fixed-bar goDown">
        <header>
          <div class="container_logos">
            <a href="http://www.focustextil.com.br" class="logo"></a>
            <span></span>
            <a href="./" class="ebook_logo"></a>
          </div>
          <div class="user-box">
            <div class="user-box-container">
              <ul>
                <li><a href="#logout" class="user-logout">Sair</a></li>
                 <li><a href="#tutorial" class="user-help">Como navegar no site</a></li>
              </ul>
              <span class="user-name">Nome do Usuário</span>
              <span class="icon user-icon"> </span>
            </div>
          </div>
        </header>
        <div class="not-detail-bar">
          <div class="fullsize">
            <div class="holder controllers-container">
              <button type="button" class="buttons goback" title="Voltar">Voltar</button>
              <div class="btngroups_container">
                <button type="button" class="buttons groups" title="Grupos">Grupos</button>
                <span class="subtitle">Nenhum</span>
              </div>
              <div class="form-container">
                <form class="amos_search">
                  <div class="form-group">
                    <input type="text" class="form-control result-form search" name="search" placeholder="Digite sua busca por: Nome, cor, base..." autofocus autocomplete="off" title="Buscar">
                    <dl id="spotlight">
                      <!--<dt style="height:28px">Nome</dt><dd>Tule</dd> 
                      <dt style="height:28px">Aspecto</dt><dd>Bordados em Tule</dd>
                      <dt style="height:28px">Grupo</dt><dd>Tules</dd>-->
                    </dl>
                    <button type="submit" class="submit search buttons s-third"></button>
                  </div>
                </form>
              </div>
              <div class="select-view">
                <button type="button" class="buttons images sel" name="images" title="Imagem">Imagem</button>
                <button type="button" class="buttons list" name="list" title="Lista">Lista</button>
              </div>
              <div class="group-item">
                <aside class="bfilter-area">
                  <button type="button" class="buttons callfilter"></button>
                </aside>
                <div class="borderby">
                  <button type="button" class="buttons orderby floatLeft">Ordenar</button>
                  <ul>
                    <li>
                      <button type="button" class="b_order" name="bigPE" title="Maior PE">Maior estoque</button>
                    </li>
                    <li>
                      <button type="button" class="b_order" name="PE" title="Menor PE">Menor estoque</button>
                    </li>
                    <li>
                      <button type="button" class="b_order" name="MATNR" title="Código">Por Código</button>
                    </li>
                    <li>
                      <button type="button" class="b_order" name="MAKTX" title="Descrição">Por descrição</button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="fullsize">
            <div class="holder">
              <div class="filter-container big-filter">
                <div class="filter-buttons-area">
                  <button type="button" class="buttons s-third bfilter" title="Filtrar"></button>
                  <button type="button" class="buttons s-third bclear" title="Limpar"></button>
                </div>
                <div class="filter-area-collum filter-area-top">
                  <ul class="filter_list">
                    <li class="removelitem"></li>
                    <li><a href="#TECIMENTO" role="1" class="first unsel off" title="Tecimento">Tecimento</a><span class="topcount hide">0</span></li>
                    <li><a href="#BASE" role="2" class="unsel off" title="Base">Base</a><span class="topcount hide">0</span></li>
                    <li class="f_grupo"><a href="#GRUPO" role="3" class="unsel off" title="Grupo">Grupo</a><span class="topcount hide">0</span></li>
                    <li><a href="#SGRUPO" role="4" class="unsel off" title="Aspecto">Aspecto</a><span class="topcount hide">0</span>
                    </li>
                    <li><a href="#GRUPO_CORES" role="5" class="unsel off" title="Grupo de Cores">Grupo de Cores</a><span class="topcount hide">0</span><!--sel--></li>
                    <li><a href="#CMP" role="6" class="unsel off" title="Composição">Composição</a><span class="topcount hide">0</span></li>
                    <li><a href="#MOTIVO_PADRAO" role="7" class="unsel off" title="Motivos">Motivos</a><span class="topcount hide">0</span></li>
                    <li><a href="#MOTIVO_DETALHE" role="8" class="unsel off last" title="Detalhes">Detalhes</a><span class="topcount hide">0</span></li>
                  </ul>
                </div>
                <div class="filter-area-collum filter-area-down">
                  <ul id="filter-sublist" ng-show="filter_sub_show" class="">
                    <li ng-repeat="flist in flists" class="removelitem">
                      <button type="button" class="buttons s-third bclose" title="Fechar"></button>
                    </li>
                    <div class="allowitens">
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="fullsize toshow">
            <div class="holder">
              <div class="group-order">
                <div class="borderby">
                  <button type="button" class="buttons orderby floatLeft">Ordenar</button>
                  <ul>
                    <li>
                      <button type="button" class="b_order" name="bigPE" title="Maior PE">Maior estoque</button>
                    </li>
                    <li>
                      <button type="button" class="b_order" name="PE" title="Menor PE">Menor estoque</button>
                    </li>
                    <li>
                      <button type="button" class="b_order" name="MATNR" title="Código">Por Código</button>
                    </li>
                    <li>
                      <button type="button" class="b_order" name="MAKTX" title="Descrição">Por descrição</button>
                    </li>
                  </ul>
                </div>            
              </div>
              <div class="bread-box">
                <p class="bread-search">
                  Resultados para: <span></span>
                </p>
                <p class="bread-count">
                  Mostrando <span class="bread-page">0</span> de <span class="bread-total">0</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-container">
        <!--Create container here -->
      </div>
    </div>
    <div class="footerside">
      <div class="btnside">
        <button type="button" class="buttons backtotop">Voltar ao Topo</button>
      </div>
      <footer class="footer"><p>© Copyright Focus Têxtil</p></footer>
    </div>
    <div id="modal" class="menu-modal">
      <div class="menu-container">
        <h3>Clique em um grupo para começar</h3>
        <ul class="group-menu">
            <li><a href="#Grupo" class="group_menu_item">Grupo</a></li>
            
        </ul>
      </div>
    </div>
    <div id="modal" class="hide">
      <div class="modal-content">
        <a href="#close" class="bclose s-third neat"></a>
        <span class="big-icon"></span>
        <div class="modal-text">
          <h2></h2>
          <p></p>
        </div>
        <div class="view-content">
          <h1 class="tut-title"></h1>
          <div class="tut-view">
            <div class="tut-content">
              <div class="tut-box">
                <span class="tut-img"></span>
                <h2><span class="tut-number">1</span>Inicio</h2>
                <p></p>
              </div>
              <div class="tut-box">
                <span class="tut-img"></span>
                <h2><span class="tut-number">1</span>Inicio</h2>
                <p></p>
              </div>
              <div class="tut-box">
                <span class="tut-img"></span>
                <h2><span class="tut-number">1</span>Inicio</h2>
                <p></p>
              </div>
            </div>
          </div>
          <ul class="pag-list">
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <ul class="tut-list">
          <li>Home</li>
          <li>Resultado</li>
          <li>Detalhe</li>
        </ul>
      </div>
    </div>
    <div id="alt-menu">
      <ul>
        <!--<li><a href="#mail"><span class="icon neat user-mail"></span>Falar com Representante</a></li>-->
        <li><a href="#tutorial" class="user-help">Como Navegar</a></li>
        <li><a href="#logout" class="user-logout">Sair</a></li>
      </ul>
    </div>
    <div id="videos">
      <div class="tb-video">
        <button type="button" class="vclose"></button>
        <div class="tb-player">
          
        </div>
      </div>
        
        <!-- <button type="button" class="vclose"></button> -->
        <!-- <video width="640" height="360" id="player" controls="controls">
            <source src="http://www.focustextil.com.br/videos/colecoes/verao16/estampados.mp4" type="video/mp4" title="mp4">
            <source src="http://www.focustextil.com.br/videos/colecoes/verao16/estampados.webm" type="video/webm" title="webm">
        </video> -->
    </div> 
    <div class="mask">
      <img src="images/loader.gif" class="loader">
    </div>
    <script src="/library/jquery/jquery-1.10.1.min.js"></script>
    <script src="/library/lib/spine/min.js"></script>
    <script src="/library/lib/require-jquery.js" data-main="js/app"></script>
    <script src="/library/video/mediaelement-and-player.min.js"></script> 
  </body>
</html>